<!DOCTYPE html>
<html lang="en">
<head>
    <title>The site is currently being updated</title>
    <meta charset="utf-8">
</head>
<body>
    <h1>The site is currently being updated...</h1>
    <p>Sorry for inconvenience.</p>
</body>
</html>